@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fbfbfb;
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .custom-container {
    @apply xl:px-16 lg:px-12 sm:px-8 px-4;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}
